<% comments.each do |comment| %>
  <div class="comments-show">
    <div class="comment">
      <%= comment.get_upvotes.size - comment.get_downvotes.size %>
      <a class="username" href=<%= "/users/#{comment.user_id}" %>><%= comment.user.username %></a>
       posted <%= time_ago_in_words(comment.created_at) %> ago
      <div class="body-section">
        <p><%= comment.body %><br></p>
      </div>

      <div class="vote-buttons">
      <%= link_to "Upvote", options = { action: "upvote", id: comment.id, controller: "comments"}, method: :put %>

      <%= link_to "Downvote", options = { action: "downvote", id: comment.id, controller: "comments"}, method: :put %>
      </div>



      <div class="comment-nav">
        <a href="<%= "#reply_#{comment.id}" %>" class="btn btn-default comment-reply" data-toggle="collapse" aria-expanded="false">Reply</a>

        <% if !comment.children.blank? %>
          <a href="<%= "#collapse_#{comment.id}" %>" class="btn btn-default" data-toggle="collapse" aria-expanded="false">Show Children</a>
        <% end %>
      </div>

      <div id="<%= "reply_#{comment.id}" %>" class="collapse reply-form">
        <%= form_for @new_comment do |f| %>
          <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
          <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
          <%= f.hidden_field :comment_id, value: comment.id %>
          <div class="field form-group">
            <%= f.text_area :body, class: 'form-control' %>
          </div>
          <div class="field form-group">
            <%= submit_tag "Post Reply", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>

      <div id="<%= "collapse_#{comment.id}" %>" class="collapse">
       <%= render partial: "comments/reply", locals: {comments: comment.children} %>
      </div>
    </div>

  </div>
<% end %>



