<%= render partial: "comments/form", locals: {new_comment: new_comment, commenting_tag: commenting_tag} %>

<% if commenting_tag != "feedback" %>
  <div class="comments-container">
    <%= render partial: "comments/reply", locals: {comments: comments} %>
    <%= will_paginate comments, :renderer => WillPaginate::ActionView::LinkRenderer %>
  </div>
<% else %>
  <div class="comments-container">
    <%= render partial: "comments/noreply", locals: {comments: comments} %>
    <%= will_paginate comments, :renderer => WillPaginate::ActionView::LinkRenderer %>
  </div>
<% end %>


