<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#badges" role="tab">Badges</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#quests" role="tab">Quests</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="overview" role="tabpanel">
    <h2 align="center">Overview</h2>
    Joined: <%= show_join_date %><br>
    Badges: <%= current_user.badges.count %><br>
    Comments: <%= current_user.comments.count %><br>
  </div>
  <div class="tab-pane" id="badges" role="tabpanel">
    <h2 align="center">My badges</h2>
    <div class="card-group">
      <% current_user.badges.each_with_index do |badge,index| %>
        <% if (index%3 == 0) %>
<div class="row">
        <% end %>
        <div class="card text-xs-center">
          <i class="fa fa-certificate fa-5x" aria-hidden="true"></i>
          <div class="card-block">
            <h4 class="card-title"><%= badge.name %></h4>
            <p class="card-text" id="badge-card-text"><%= badge.description %></p>
          </div>
        </div>
        <% if (index%3 == 0) %>
</div>
        <% end %>
      <% end %>
      </div>
  </div>
  <div class="tab-pane" id="quests" role="tabpanel">
    <h2 align="center">My quests</h2>
    <% @quests = Quest.where(user_id: current_user.id) %>
    <% @quests.each do |quest| %>
    <div class="card text-xs-center" style="<%= quest_state_for_card(quest) %>">
      <div class="card-block" data-toggle="tooltip" data-placement="bottom" title="<%= quest_state_for_tooltip(quest) %>">
        <blockquote class="card-blockquote">
          <h5 class="card-title"><%= quest.name %></h4>
          <p><%= quest.description %></p>
          <footer>Exp: <%= quest.exp %></footer>
        </blockquote>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
