<% provide(:title, @user.username) %>

<p>Sample user profile page</p>
<h1>
  <%= @user.username %>
</h1>
<% if @user.picture.nil? %>
<% else %>
  <%= image_tag @user.picture.asset.url %>
<% end %>
<%= @user.username %>, <%= @user.email %>

<% @user.projects do |project| %>
  <li>
	<%= link_to project_path(@user, @project) %>
  </li>
<% end %>

<a href="<%= project_path(@user, current_project) %>">My Project</a>

<a href="<%= edit_user_path(current_user) %>">Settings</a>
<a href="<%= logout_path %>" data-method="delete" rel="nofollow">Log out</a>