<% provide(:title, @user.username) %>

<p>Sample user profile page</p>
<h1>
  <%= @user.username %>
</h1>
<% if @user.picture.nil? %>
<% else %>
  <%= image_tag @user.picture.asset.url %>
<% end %>
<%= @user.username %>, <%= @user.email %>

<% @user.projects do |project| %>
  <li>
	<%= link_to project_path(@user, @project) %>
  </li>
<% end %>

<a href="<%= project_path(@user, current_project) %>">My Project</a>

<li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
<li><%= link_to 'Edit', edit_user_registration_path %></li>