<% provide(:title, @user.username) %>

<div class="container">
    <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <a href="#" data-toggle="modal" data-target="#myModal" id="show-profile-picture">
        <div id="show-upload-shade"><p>Upload</p></div>
          <% if @user.pictures.blank? %>
              <%= image_tag("happy.png", alt: "happy") %>
          <% else %>
            <%= image_tag @user.pictures.last.asset.url(:avatar), class: "img-fluid" %>
          <% end %>
        </a>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <% if @user.username.nil? %>
              <%= link_to 'Add a username', edit_user_registration_path %>
            <% else %>
              <%= @user.username %>
            <% end %>
          </div>
          <div>
            Level <%= current_level %><br>
            <progress class="progress progress-striped progress-success" value="<%= current_level_progress %>" max="100" data-toggle="tooltip" data-placement="bottom" title="<%= 100 - current_level_progress %> points until next level!"></progress>
          </div>
          <div>
            Joined: <%= show_join_date %><br>
            Badges: <%= @user.badges.count %><br>
            Comments: <%= @user.comments.count %><br>
          </div>
        </div>
        <!-- Buttons for future use
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">button</button>
          <button type="button" class="btn btn-danger btn-sm">button</button>
        </div>
         -->
        <% if is_logged_in_user? %>
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/users/edit">
              <span aria-hidden="true"></span> Edit Profile </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%= destroy_user_session_path%> data-method="delete" rel="nofollow">
                <span aria-hidden="true"></span> Log Out </a>
            </li>
          </ul>
        </div>
        <% end %>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        <%= render 'users/profile_tabs' %>
      </div>
    </div>
  </div>
</div>
<br>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>


            <div class="collapse" id="collapseExample">
  <div class="card card-block">

  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Change profile picture</h4>
      </div>
      <div class="modal-body">
          <%= form_for(current_user, :as => 'user', :url => user_path, :html => { role: 'form', method: :put}) do |f| %>

        <%= f.label :picture %><br>
    <%= f.file_field :picture, data_url: "/pictures", id:"picture_upload", name:"picture_asset", type:"file" %>
        <div class="actions">
      <%= f.submit 'Continue', :class => 'btn btn-primary' %>
    </div>
  <% end %>
      </div>
    </div>
  </div>
</div>
