<% provide(:title, @user.username) %>

<div class="container">
    <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <div class="profile-userpic">
          <% if @user.pictures[0].nil? %>
            <%= image_tag("happy.png", alt: "happy") %>
          <% else %>
            <%= image_tag @user.pictures[0].asset.url %>
          <% end %>
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <% if @user.username.nil? %>
              <%= link_to 'Add a username', edit_user_registration_path %>
            <% else %>
              <%= @user.username %>
            <% end %>
          </div>
          <div class="profile-user-email">
            <%= @user.email %>
          </div>
        </div>
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">button</button>
          <button type="button" class="btn btn-danger btn-sm">button</button>
        </div>
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link">
              <span aria-hidden="true"></span> Overview </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/edit">
              <span aria-hidden="true"></span> Edit User </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= project_path(@user, current_project) %>">
              <span aria-hidden="true"></span> My Projects </a>
            </li>
            <li class="nav-item">
<a class="nav-link" href=<%= destroy_user_session_path%> data-method="delete" rel="nofollow">
  <span aria-hidden="true"></span> Log Out </a>
            </li>
          </ul>
        </div>




        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
            <div class="profile-content">
            Some stuff
            </div>
    </div>
  </div>
</div>
<br>
