<% provide(:title, "Contact Us") %>

<div class="col-sm-12 m-t-3">
  <div align="center">
    <h1>Contact Us</h1>
	<p>We will get back to you within 2 business days.</p>
	<hr>
  </div>
  <div class="container">
	<h3>Send us a message</h3>
    <%= simple_form_for(@contact, html: {class: 'form-control' }) do |f| %>
    <%= f.input :name, required: true, label:'Name or organization', placeholder: 'Enter your name or organization' %>
    <%= f.input :email, required: false, label:'How should we contact you back?', placeholder: 'Email, phone, etc.' %>
    <%= f.input :message, :as => :text, :required => true, input_html: {'rows': 5}, placeholder: 'Write your message here' %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
  <hr>
  <div align="center">
	<h3>Send us a direct email</h3>
    <p>
      For all inquiries, you can reach us directly at <a href="mailto:ignite.crowdfund@gmail.com">ignite.crowdfund@gmail.com</a>
    </p>
  </div>
</div>