<% provide(:title, "New Project") %>
<div class="container">
	<h1>New Project</h1>
	<%= render 'shared/error_messages', object: @project %>
	<%= form_for(:project, :url => {:controller => 'projects', :action => 'submit', :id => project_id, :has_demo => @has_demo}, :html => { :multipart => true }) do |f| %>
		
		<%= f.label :small_description %>
		<%= f.text_field :small_desc, class: 'form-control' %>

		<%= f.label :full_description %>
		<%= f.text_field :full_desc, class: 'form-control' %>

		<hr>
		<%= f.label :team_description %>
		<%= f.text_field :team_desc, class: 'form-control' %>

		<%= f.label :creator_description %>
		<%= f.text_field :creator_desc, class: 'form-control' %>

		<hr>
		<%= f.label :funding %>
		<%= f.number_field :funding, class: 'form-control' %>

		<hr>
		<h3> Demo </h3>

		<div class="form-group">
			<%= label_tag 'name', 'Demo Name' %>
			<%= text_field_tag "demo_name", nil, class: 'form-control' %>

			<%= label_tag 'version', 'Demo Version' %>
			<%= text_field_tag "demo_version", nil, class: 'form-control' %>

			<%= label_tag 'file', 'Demo Exe File' %>
			<%= file_field_tag "demo_asset", type: :file, class: 'form-control' %>

			<%= f.submit :demo, value: demo_button, class: 'form-control' %>
		</div>

		<hr>
		<div class="form-group">
			<%= label_tag 'pictures', 'Picture Files' %>
			<%= file_field_tag "pictures[]", type: :file, multiple: true, class: 'form-control' %>
			<%= f.submit :pictures, value: pictures_button, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= label_tag 'video', 'Video File' %>
			<%= file_field_tag "video", type: :file, class: 'form-control' %>
			<%= f.submit :video, value: video_button, class: 'form-control' %>
		</div>
		
		<hr>

		<%= f.submit :create, value: create_button, class: 'form-control' %>
		<%= f.submit :save, value: save_button, class: 'form-control' %>
	<% end %>
</div>
