<% provide(:title, "New Project") %>
<div class="container">
	<h1>New Project</h1>
	<%= render 'shared/error_messages', object: @project %>
	<%= form_for(:project, :url => {:controller => 'projects', :action => 'submit_basic_info', :id => project_id, :has_demo => @has_demo}) do |f| %>
		
		<%= f.label :small_description %>
		<%= f.text_field :small_desc, class: 'form-control' %>

		<%= f.label :full_description %>
		<%= f.text_field :full_desc, class: 'form-control' %>

		<%= f.label :team_description %>
		<%= f.text_field :team_desc, class: 'form-control' %>

		<%= f.label :creator_description %>
		<%= f.text_field :creator_desc, class: 'form-control' %>

		<%= f.label :funding %>
		<%= f.number_field :funding, class: 'form-control' %>

		<%= f.submit :Create, name: 'create' %>
		<%= f.submit :Save %>
	<% end %>
</div>
