<% provide(:title, @project.name + " NewDiscussion") %>
<div class="container">
  <%= render :partial => 'projects/header' %>
      <%= render partial: "comments/template", locals: {commentable: @project, new_comment: @comment} %>
</div>


  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link <%= is_active?("/projects/#{@project.id}/discussion/a") %>" href="/projects/<%= @project.id %>/discussion/a">
      <span class="fa fa-gamepad fa-fw" aria-hidden="true"></span> A </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= is_active?("/projects/#{@project.id}/discussion/b") %>" href="/projects/<%= @project.id %>/discussion/b">
      <span class="fa fa-picture-o fa-fw" aria-hidden="true"></span> B </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= is_active?("/projects/#{@project.id}/discussion/c") %>" href="/projects/<%= @project.id %>/discussion/c">
      <span class="fa fa-comments fa-fw" aria-hidden="true"></span> C </a>
    </li>
  </ul>
