<div class="page-header"><h1>Upload Media</h1></div>

<%= form_for :project, :url => {:controller => 'projects', :action => 'update', :id => project_id} do |f| %>
	
	<%= f.fields_for :pictures_attributes, :html => {:multipart => true} do |p| %>
		<div class="form-group">
			<%= p.label :pictures %>
			<%= p.file_field :asset, class: 'form-control'%>
		</div>
	<% end%>

	<%= f.fields_for :pictures_attributes, :html => {:multipart => true} do |v| %>
		<div class="form-group">
			<%= v.label :videos %>
			<%= v.file_field :asset, class: 'form-control'%>
		</div>
	<% end%>

	<%= f.submit 'Upload', class: 'btn btn-primary' %>
<% end %>