<% provide(:title, @cur_genre + " Games") %>
<% content_for :head_tags do %>
	<meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2> Browse genres </h2>
			<br>
			<form action="category" method="GET">
				<div class="col-xs-12 col-md-4">
					<select name="genre" id="genre" class="form-control" onchange="this.form.submit()">
						<option value='All'>Everything</option>
						<% Project.tag_counts_on(:tags).most_used(10).each do |tag| %>
							<option value=<%= tag.name %> ><%= tag.name %></option>
						<% end %>
					</select>
				</div>
				<div class="col-xs-12 col-md-4">
					<select name="sort" id="sort" class="form-control" onchange="this.form.submit()">
						<option value='random'>Random</option>
						<option value='newest'>Newest</option>
						<option value='most_popular'>Most Popular</option>
						<option value='soon_ending'>Soon Ending</option>
					</select>
				</div>
				<input name="states" id="states" class="form-control" multiple="multiple" data-selected='<%= @states %>' hidden=true value=<%= Project.states[:funding_ext] %>></input>
			</form>
			<br>
		</div>
	</div>

	<hr>


	<% if !@projects.blank? %>
    	<%= render partial: "display", locals: {projects: @projects} %>
    <% else %>
    	<h6> There are no projects in this genre! <h6>
    <% end %>


	<script type="text/javascript">
		document.addEventListener("turbolinks:load", function() {
			$("select").select2({
				minimumResultsForSearch: Infinity
			});

			$("#genre").select2("val", "<%= @cur_genre %>");
			$("#sort").select2("val", "<%= @cur_sort %>");
		})
	</script>
</div>
