<div>
	<nav class="navbar navbar-full navbar-light">
		<ul class="nav navbar-nav pull-xs-left">
			<a class="navbar-brand" href="/">
				<%= image_tag("ignite_logo_text_brand.png", alt: "Home", height: "30") %>
			</a>
			<li class="nav-item <%= is_active?('/browse') %> hidden-sm-down">
				<a class="nav-link" href="<%= browse_path %>">Browse</a>
			</li>
		</ul>


		<form action="/browse/search" method="GET" class="col-xs-9 col-sm-6 col-md-4">
			<div class="input-group">
				<input name="name" id="name" class="form-control" placeholder="Search"></input>
				<span class="input-group-addon">
				<button type="submit" style="float: right; border: 0; background: transparent">
				    <span class="fa fa-search"></span>
				</button></span>
			</div>
		</form>


		<button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbarcollapsable">
			&#9776;
		</button>

		<div class="collapse navbar-toggleable-sm pull-xs-right" id="navbarcollapsable">
			<ul class="nav navbar-nav">
				<li class="nav-item <%= is_active?('/browse') %> hidden-md-up">
					<a class="nav-link" href="<%= browse_path %>">Browse</a>
				</li>
				<% if user_signed_in? %>
					<li class="dropdown nav-item <%= is_active?(url_for current_user) %>">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"><%= current_user.username %></a>
						<div class="dropdown-menu dropdown-menu-right">
						  	<a class="dropdown-item" href=<%= user_path current_user %>>My Account</a>
		            		<a class="dropdown-item" href=<%= destroy_user_session_path %> data-method="delete" rel="nofollow">Log Out</a>
		      			</div>
	      			</li>
				<% else %>
				  <li class="nav-item <%= is_active?('/users/sign_in') %>">
					<a class="nav-link" href="<%= new_user_session_path %>">Log in</a>
				  </li>
				  <li class="nav-item <%= is_active?('/users/sign_up') %>">
					<a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a>
				  </li>
				<% end %>
			</ul>
		</div>
	</nav>
</div>
