<nav class="navbar navbar-light bg-faded">
	<div class="container row">
		<div class="navbar-header col-xs-12 col-sm-4">
			<a class="navbar-brand" href="/">
				<%= image_tag("ignite_logo_text_brand.png", alt: "Ignite", height: "30") %>
			</a>
			<button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbarcollapsable">
				&#9776;
			</button>
		</div>
		<div class="collapse navbar-toggleable-xs col-xs-12 col-sm-8" id="navbarcollapsable">
			<ul class="nav navbar-nav pull-xs-right">
				<li class="nav-item <%= is_active?('/') %>">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item <%= is_active?('/about') %>">
					<a class="nav-link" href="<%= about_path %>">About Us</a>
				</li>
				<li class="nav-item <%= is_active?('/contact') %>">
					<a class="nav-link" href="contact">Contact Us</a>
				</li>
		        <% if logged_in? %>
				  <li class="nav-item <%= is_active?('/') %>">
				    <div class="dropdown">
				    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					My Account
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
					  <a class="dropdown-item" href="<%= current_user %>">Profile</a>
					  <a class="dropdown-item" href="#">Settings</a>
					  <div class="dropdown-divider"></div>
					  <a class="dropdown-item" href="<%= logout_path %>" data-method="delete" rel="nofollow">Log out</a>
					</div>
					</div>
				  </li>
				<% else %>
				  <li class="nav-item <%= is_active?('/login') %>">
					<a class="nav-link" href="login">Log in</a>
				  </li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>