<!DOCTYPE html>
<html lang="en">

  <head>
  	<title><%= full_title(yield(:title)) %></title>
    <%= javascript_include_tag "application", FAYE_CONFIG[Rails.env]['js'], "data-turbolinks-track" => true %>
  	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
  	<%= render 'layouts/shim' %>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield(:head_tags) %>
    <script src="https://use.fontawesome.com/5c4d464a59.js"></script>
    <script type="text/javascript">
    $(function() {
      <% if user_signed_in? %>
        var client = new Faye.Client("<%= FAYE_CONFIG[Rails.env]['host'] %>");

        var subscription = client.subscribe('/projects/goal_reached', function(data) {
            toastr.success(data.msg, data.title);
        });
        client.subscribe('/users/<%= current_user.id %>', function(data) {
            toastr.success(data.msg, data.title);
        });

        <% current_user.get_up_voted(Project).each do |p| %>
          client.subscribe('/projects/<%= p.id %>', function(data) {
            toastr.success(data.msg, data.title);
          });
        <% end %>
      <% end %>
    });
    </script>
    <% if Rails.env == 'production' %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-83343508-1', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>
  </head>

  <body>
    <div class="wrapper">
      <div class="container" id="app_header">
        <%= render 'layouts/header' %>
      </div>
      <div class="container" id="app_yield">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
    	<div class="container" id="app_footer">
    	  <%= render 'layouts/footer' %>
    	</div>
    </div>
  </body>

</html>
